/*
* {
  border: 1px solid red;   
} */

#home {
    padding-top: 150px;
}

a {
    text-align: none;
}

.card-header {
    padding-bottom: 30px;
    max-width: 500px;
    background-color: aquamarine;
}

