/*
* {
  border: 1px solid red;   
} */

#home {
    padding-top: 150px;
}

a {
    text-align: none;
}

.card-header {
    padding-bottom: 30px;
    max-width: 500px;
    background-color: aquamarine;
}

/* --------Override template text color for more contrast: accessibility ----------*/
cite,
.statcard-desc,
.text-muted {
    color: #4e4e4e;
}

.form-control::-moz-placeholder {
  color: #4e4e4e;
}
.form-control:-ms-input-placeholder {
  color: #4e4e4e;
}
.form-control::-webkit-input-placeholder {
  color: #4e4e4e;
}